header {
    background-color: rgb(158, 158, 158);
}
main {
    background-color: rgb(165, 165, 165);
}body{
    background-color:rgb(99, 94, 94);
}
h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px dotted grey
}
img{
    width: 300px;
    height: 300px;
    margin:60px;
    margin-left: 250px;
    border: 5px solid grey
}
.cabecalho{
    background-color: rgb(75, 70, 70);
    display: flex;
}
.logoimg{
    width: 300px;
    height: 300px;
    margin: 0px;
    margin-left: 0px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 450px;
}
.item_lista_cabecalho{
    color: #000000;
    list-style: none;
    text-transform:uppercase;
    font-size: 20px;
    padding: 15px;